dist/

prometheus-pkg.iml
.idea/
.code/
.DS_Store
tmp/

tarball/*.tar.gz
tarball/*.zip
repodata/
modules.yaml

prometheus/prometheus
prometheus/prometheus*.tar.gz

alertmanager/alertmanager
alertmanager/alertmanager*.tar.gz

pushgateway/pushgateway*
pushgateway/pushgateway*.tar.gz

blackbox_exporter/blackbox_exporter
blackbox_exporter/blackbox_exporter*.tar.gz

node_exporter/node_exporter
node_exporter/node_exporter*.tar.gz

mysqld_exporter/mysqld_exporter
mysqld_exporter/mysqld_exporter*.tar.gz

pg_exporter/pg_exporter
pg_exporter/pg_exporter*.tar.gz

redis_exporter/redis_exporter
redis_exporter/redis_exporter*.tar.gz

nginx_exporter/nginx_exporter
nginx_exporter/nginx_exporter*.tar.gz

keepalived_exporter/keepalived_exporter
keepalived_exporter/keepalived_exporter*.tar.gz

mongodb_exporter/mongodb_exporter
mongodb_exporter/mongodb_exporter*.tar.gz

kafka_exporter/kafka_exporter
kafka_exporter/kafka_exporter*.tar.gz

victoria-metrics/victoria-metrics
victoria-metrics/victoria*.tar.gz
victoria-metrics/vmutils*.tar.gz



pgbackrest_exporter/pgbackrest_exporter
pgbackrest_exporter/pgbackrest_exporter-0.15.0-linux-x86_64.tar.gz

loki/*.zip

etcd/etcd
etcd/etcd*.tar.gz