dist/

prometheus-pkg.iml
.idea/
.code/
.DS_Store
tmp/

tarball/*.tar.gz
repodata/
modules.yaml

prometheus/prometheus
prometheus/prometheus*.tar.gz

alertmanager/alertmanager
alertmanager/alertmanager*.tar.gz

pushgateway/pushgateway*
pushgateway/pushgateway*.tar.gz

